.articleCard{
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: 1px dashed #666;
  .header{
    height: 40px;
  }
  .title{
    overflow: hidden;
    display: block;
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
    line-height: 40px;
    float: left;
  }
  .subtitle{
    font-size: 14px;
    color: #666;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    float: right;
    p{
      line-height: 40px;
      background-size: 16px 16px;
      background-repeat: no-repeat;
      display: inline-block;
    }
    .view{
      background-image: url("../../../assets/imgs/pages/eye.png");
      background-size: 23px 23px;
      background-position: 0 7px;
      padding-left: 26px;
      margin-left: 50px;
    }
    .time{
      padding-left: 20px;
      background-position: 0 11px;
      background-image: url("../../../assets/imgs/pages/time.png");
    }
  }
  .desc{
    margin-top: 16px;
    padding: 10px 0;
    font-size: 16px;
    overflow: hidden;
    white-space: pre-wrap;
    text-align: justify;
  }
  .type{
    color: #337ab7;
    text-align: right;
    font-size: 14px;
  }
}
@for $i from 1 through 3 {
  [data-dpr="#{$i}"] .articleCard{
    @media (max-width: 768px * $i) {
      padding: (20rem/75);
      float: none;
      width: auto;
      .header{
        height: (40rem/75);
      }
      .title {
        font-size: (44rem/75);
        line-height:(40rem/75);
      }
      .desc {
        font-size: (32rem/75);
      }
      .subtitle{
        height:(40rem/75);
        p{
          font-size: (18rem / 75);
          line-height: (40rem/75);
        }
        .time{
          background-size: (16rem/75) (16rem/75);
          padding-left:  (20rem/75);
          background-position: 0 (11rem/75);
        }
        .view{
          margin-left: (30rem / 75);
           background-size: (23rem/75) (23rem/75);
          padding-left:  (26rem/75);
          background-position: 0 (7rem/75);
        }
      }
      .type{
        font-size: (24rem / 75);
      }
    }
  }
}

