@import "../common/mobile";
.articleCard{
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: 1px dashed #666;
  .title{
    overflow: hidden;
    display: block;
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
    line-height: 1.2;
    float: left;
    word-break: break-all;
  }
  .subtitle{
    font-size: 14px;
    color: #666;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    float: right;
    p{
      line-height: 40px;
      background-size: 16px 16px;
      background-repeat: no-repeat;
      display: inline-block;
    }
    .view{
      background-image: url("../../../assets/imgs/pages/eye.png");
      background-size: 23px 23px;
      background-position: 0 7px;
      padding-left: 26px;
      margin-left: 50px;
    }
    .time{
      padding-left: 20px;
      background-position: 0 11px;
      background-image: url("../../../assets/imgs/pages/time.png");
    }
  }
  .desc{
    padding: 10px 0;
    font-size: 16px;
    white-space: pre-wrap;
    text-align: justify;
    word-break: break-all;
    text-indent: 2ch;
  }
  .type{
    color: #337ab7;
    text-align: right;
    font-size: 14px;
  }
}
@include moblie {
  .articleCard{
    padding: (20rem/75);
    float: none;
    width: auto;
    .title {
      font-size: (44rem/75);
    }
    .desc {
      font-size: (32rem/75);
    }
    .subtitle{
      height:(40rem/75);
      width:  100%;
      p{
        font-size: (30rem / 75);
        line-height: (40rem/75);
      }
      .time{
        background-size: (27rem/75) (27rem/75);
        padding-left:  (35rem/75);
        background-position: 0 (4.5rem/75);
        float: left;
      }
      .view{
        float: right;
        background-size: (28rem/75) (28rem/75);
        padding-left:  (34rem/75);
        background-position: 0 (4rem/75);
      }
    }
    .type{
      font-size: (24rem / 75);
    }
  }
}

