@import "../../common/mobile";
#article{
  overflow: hidden;
  .article-body{
    background: #fff;
    padding:  10px;
  }
  .article-content{
    margin: auto;
    font-size: 16px;
    ul, li{
      list-style: disc;
    }
    ul {
      padding-left: 1em;
    }
    p {
      text-indent: 2em;
    }
    li > p {
      text-indent: 0;
    }
  }
  .article-base-info{
    overflow: hidden;
    padding-top: 10px;
    .item{
      font-size: 16px;
      color: #999;
    }
  }
  .article-to{
    cursor: pointer;
    font-size: 16px;
    color: #333;
    background: #fff;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    overflow: hidden;
    p:hover{
      color: #337ab7;
    }
    p{
      padding: 0;
      margin:5px 30px;
      text-align: center;
      word-break: keep-all;
    }
  }
  .article-to-next{
    margin-top: 10px;
    margin-bottom: 20px;
    background-position: calc(100% - 10px) 8px;
    background-image: url('../../../../assets/imgs/pages/next.png');
    border-left: 15px solid #fff;
  }
  .article-to-last{
    margin-top: 20px;
    background-position: 10px 8px;
    background-image: url('../../../../assets/imgs/pages/last.png');
    border-right: 15px solid #fff;
  }
  code{
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #abb2bf;
    background: #282c34;
  }
  p{
    padding: 5px 0;
    color: #333;
  }
}
@include moblie {
  #article{
    .article-content{
      width: 100%;
      font-size: (24rem / 75);
      img{
        width: 80%;
        margin: 0 10%;
      }
    }
    .article-base-info{
      .item {
        font-size: (32rem / 75);
      }
    }
    .article-to{
      height: (64rem / 75);
      line-height: (64rem / 75);
      background-size: (32rem / 75) (32rem / 75);
      font-size: (32rem / 75);
    }
    .article-to-next{
       background-position: calc(100% - 10px) (16rem / 75);
    }
    .article-to-last{
      background-position: 10px (16rem / 75);;
    }
  }
}
