#Nav{
  background-color:#191970;
  position: fixed;
  top:0;
  left: 0;
  height: 100%;
  width:220px;
  padding: 10px;
  .NavList{
    margin-top: 20px;
  }
  .head-portrait{
    background-repeat: no-repeat;
    background-size: cover;
    width:100px;
    height:100px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 20px;
    background-image: url("../../imgs/pages/me.jpg");
  }
  .blog-title{
    color: #fff;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
  }
  .otherPlatform {
   overflow: hidden;
    height:36px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 0;
  }
  .otherPlatform ul{
    display: inline-block;
  }
  .drop-down{
    background: url("../../imgs/pages/drop-down.png") no-repeat;
    width:(40rem / 75);
    height:(40rem / 75);
    background-size:cover;
    margin: auto;
    margin-bottom: (10rem /75);
  }
  .drop-up{
    background: url("../../imgs/pages/drop-up.png") no-repeat;
    width:(40rem / 75);
    height:(40rem / 75);
    background-size:cover;
    margin: auto;
    margin-bottom: (10rem /75);
  }
}
#body{
  margin-left: 220px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  max-width: 1380px;
  background: #fff;
}
#copyRight{
  width: 240px;
  text-align: center;
  font-size: 13px;
  border-top: 2px dashed #fff;
  padding:15px;
  box-sizing: border-box;
  color: #fff;
  margin-top: 20px;
}
.yc-ui-float-cards{
  .index2{
    background-image: url('../../imgs/pages/toTop.png');
  }
  .index1{
    background-image: url('../../imgs/pages/feedback.png');
  }
  .index0{
    background-image: url('../../imgs/pages/search.png');
  }

}
@for $i from 1 through 3 {
  [data-dpr="#{$i}"]{
    @media (max-width: 768px * $i) {
      #Nav{
        position: fixed;
        width: 100%;
        height:(40rem/75);
        transition: 1s margin ease;
        .blog-title{
          font-size: (23rem/75);
          margin-top: 0;
          transition: 1s margin-right ease;
        }
        .head-portrait{
          height:(80rem/75);
          width:(80rem/75);
          margin: auto;
          margin-top: (20rem/75);
          margin-bottom: (20rem/75);
        }
        .menu{
          position: fixed;
          left: -(220rem/ 75);
          width:(220rem/ 75);
          top:0;
          background: #191970;
          transition: 1s all ease;
          height: 100%;
          .yc-ui-nav  a{
            font-size: (16rem/ 75);
          }
        }
        .menu-switch{
          height:(20rem/75);
          width: (30rem/75);
          position: absolute;
          left: (10rem/75);
          margin-top: (5rem/75);
        }
        .menu-switch i{
          top: 0;
        }
        .menu-switch i,
        .menu-switch:after,
        .menu-switch:before{
          content: '';
          width: 100%;
          height: 1px;
          position: absolute;
          background-color: #999;
          transform: rotate(0);
          transition: all .2s cubic-bezier(.4,.01,.165,.99) .3s;
        }
        .menu-switch:after{
          bottom: 0;
        }
        .menu-switch:before{
          top: (10rem/75);
        }
        .menu-switch-close i{
          top: (10rem/75);
          transform: rotate(45deg);
        }
        .menu-switch-close:before{
         opacity: 0;
        }
        .menu-switch-close:after{
          bottom: (9rem/75);
          transform: rotate(-45deg);
        }
        .NavList{
          margin-top: 0;
          li{
            font-size:(35rem / 75);
            line-height:(65rem / 75);
          }
        }
        .otherPlatform{
          height:(65rem/75);
          li{
            height: (65rem/75);
            width: (65rem/75);
          }
        }
      }
      .open-nav{
        margin-left: (220rem/ 75);
        .blog-title{
          margin-right: (160rem/ 75);
        }
      }
      #copyRight{
        width:100%;
        top: auto;
        font-size: (12rem/75);
        padding: (28rem/75);
      }
      #body{
        width: 100%;
        margin-left: 0;
        margin-top: (40rem / 75);
        padding-right: 0;
        padding-left: 0;
        max-width: auto;
      }
    }
  }
}


