@import "../common/mobile";
#Nav{
  background-color:#0b3954;
  top:0;
  left: 0;
  overflow: hidden;
  .menu-toggle{
    display: none;
  }
  .yc-ui-nav{
    li {
      width: 86px;
      height: 40px;
    }
  }
  .nav-list{
    margin-top: 60px;
  }
  .head-portrait{
    background-repeat: no-repeat;
    background-size: cover;
    width:100px;
    height:100px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 20px;
    background-image: url("../../imgs/pages/me.jpg");
  }
  .blog-title{
    color: #fff;
    font-size: 32px;
    padding: 10px;
    margin-top: 60px;
    margin-left: 10px;
  }
  .blog-sub-title{
    font-size: 16px;
    padding: 0 10px;
    color: #fff;
    margin-left: 10px;
  }
  .otherPlatform {
   overflow: hidden;
    height:36px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 0;
  }
  .otherPlatform ul{
    display: inline-block;
  }
  .drop-down{
    background: url("../../imgs/pages/drop-down.png") no-repeat;
    width:(40rem / 75);
    height:(40rem / 75);
    background-size:cover;
    margin: auto;
    margin-bottom: (10rem /75);
  }
  .drop-up{
    background: url("../../imgs/pages/drop-up.png") no-repeat;
    width:(40rem / 75);
    height:(40rem / 75);
    background-size:cover;
    margin: auto;
    margin-bottom: (10rem /75);
  }
}
#body{
  background: #F5F5F5;
  overflow: hidden;
  padding-top: 32px;
  .content{
    width: 63.88889%;
    float: left;
    margin: 0 1.38889%;
    min-height: 400px;
  }
}
#sub-nav{
  width: 30.55556%;
  float: right;
  .card{
    background: #fff;
    padding: 30px;
    margin-bottom: 32px;
    .title{
      font-size: 22px;
      font-weight: bold;
    }
    .title-more{
      float: right;
      color: #ff6663;
      font-size: 18px;
      margin-top: 5px;
    }
  }
  .yc-ui-nav{
    margin-top: 5px;
    li {
      padding: 0;
      cursor: default;
      line-height: 36px;
    }
    a{
      text-align: left;
      color: #ff6663;
      font-size: 16px;
      display: inline;
    }
    .selected{
      background: inherit;
    }
  }
}
#copyright{
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  background: #0b3954;
  text-align: center;
  color: #fff;
}
.yc-ui-float-cards{
  .index2{
    background-image: url('../../imgs/pages/toTop.png');
  }
  .index1{
    background-image: url('../../imgs/pages/feedback.png');
  }
  .index0{
    background-image: url('../../imgs/pages/search.png');
  }

}
@include moblie {
  #Nav{
    width: 100%;
    .menu-toggle{
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      width: 1.5rem;
      padding: 0.45rem 5px 0;
      z-index: 5;
      div{
        background: #fff;
        margin: 0.254rem .4rem 0.2rem 0;
        transition: 0.15s ease-in-out;
        height: 0.12rem;
        transform-origin: left center;
      }
    }
    .menu-toggle-open{
      div:nth-child(1) {
        transform: rotate(45deg);
      }
      div:nth-child(2) {
       width: 0;
       opacity: 0;
      }
      div:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
    .nav-list{
      margin-top: 0;
    }
    .blog-title{
      padding: 0.45rem 0.25rem;
      line-height: (80rem/75);
      font-size: (46rem/75);
      margin-top: 0;
    }
    .blog-sub-title{
      font-size: (24rem/75);
      padding-left: 0.25rem;
      margin-bottom: (60rem / 75);
      margin-top: 0;
      display: inline-block;
    }
    .menu {
      li{
        width: 100%;
        height: (80rem / 75);
        line-height:  (80rem / 75);
        padding-left: 0.25rem;
      }
      a{
        font-size: (32rem/75);
        text-align: left;
      }
    }
    .NavList{
      margin-top: 0;
      li{
        font-size:(35rem / 75);
        line-height:(65rem / 75);
      }
    }
  }
  #body{
    width: 100%;
    box-sizing: border-box;
    max-width: auto;
    .container-content{
      width: 100%;
    }
    .content{
      float: none;
      width: 100%;
      margin: auto;
      margin-bottom: (64rem / 75); 
    }
  }
  #copyright{
    font-size: (26rem / 75);
    height:  (100rem / 75);
    line-height: (100rem / 75);
  }
  #sub-nav{
    float: none;
    width: 100%;
    .card{
      display: none;
    }
  }
}

