.History{

  ul{
    background: #fff;
    .title{
      margin-left: 20px;
      font-size: 30px;
      margin-top: 10px;
    }
    .list{

      font-size: 20px;
      margin-left: 50px;
      padding-left: 30px;
      line-height: 28px;
      background: url("../../imgs/pages/dot.png") no-repeat 0 2px;
    }
  }
}
@for $i from 1 through 3 {
  [data-dpr="#{$i}"] .History{
    @media (max-width: 768px * $i) {

      ul {
        .title {
          margin-left: (40rem / 75);
          font-size: (50rem / 75);
          margin-top: (20rem / 75);
        }
        .list{
          font-size: (40rem / 75);
          margin-left: (100rem / 75);
          padding-left: (60rem / 75);
          line-height: (56rem / 75);
          background-size: (40rem /75);
          background-position:0 (12rem / 75);
        }
      }
    }
  }
}