.share{
  .list{
    .selected{
      background: #337ab7;
      border: 2px solid #337ab7;
      a{
        color:#fff;
      }
    }
    li{
      background: #fff;
      width:20%;
      border: 2px solid #f8f8f8;
      box-sizing: border-box;
      a{
        color: #333;
      }
    }
  }
}


@for $i from 1 through 3 {
  [data-dpr="#{$i}"] .share{
    @media (max-width: 768px * $i) {
        li{
          width: 20%;
          line-height: (80rem /75);
          a{
            font-size: (30rem / 75);
          }
        }
    }
  }
}
